Flask==3.1.0
Flask-Cors==5.0.0
gunicorn==23.0.0
PyMySQL==1.1.1
requests==2.32.3
numpy==1.26.4
pandas==2.2.3
openai==1.76.0
faiss-cpu==1.12.0
sentence-transformers==4.1.0
langchain==0.3.25
langchain-community==0.3.24
PyYAML==6.0.2
scikit-learn==1.5.2
torch==2.9.0
transformers==4.51.3
tqdm==4.67.1
python-dotenv==1.1.0
chromadb==1.0.8
pydantic==2.11.4
onnxruntime==1.24.4
tokenizers==0.21.1

